---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Modern Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'SixCaps';
    src: url('/fonts/SixCaps-Regular.ttf') format('truetype');
    font-display: swap;
  }

  :root {
    --swiper-pagination-color: #fcefde;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #fcefde;
  }
</style>